@model OrderRowViewModel
@{
    ViewData["Title"] = "Create";
}
<h1>Create OrderRow</h1>
<hr />
<br />

<form asp-action="Create" method="post" class="btn btn-success">

    <div asp-validation-summary="All"></div>

    <br />
    <select>
        @*Iterating Product ViewModel *@
        @foreach (var item in Model.Products)
        {
            <option value="@item.Id">@item.Name @item.Price</option>

        }
    </select>

    @*<label asp-for="Price"></label>
    <input asp-for="Price"  />
    <span asp-validation-for="Price"></span>
    <br />*@

    <!----//<div class="custom-control custom-radio"-</div>-->
    <label asp-for="GlutenFree">Glutenfree</label><br>
    <input asp-for="GlutenFree " type="checkbox" name="Glutenfree" value="true">
    <span asp-validation-for="GlutenFree"></span>
    <br />

    <hr />
    <input type="submit" value="Create OrderRow" />
    <br />

    <input type="submit" value="Back To List" asp-action="Index" />

</form>
