@model OrderRow
@{
    ViewData["Title"] = "Remove";
}
<h1>Remove OrderRow</h1>
<br />
<form asp-action="Remove" method="post" class="btn btn-danger">
    <input asp-for="Id" value="@Model.Id" type="hidden" />
    <font style="align-content: stretch">

        <p>Do you really want to Remove <label asp-for="Product" /> with <label asp-for="Cashier.Id" /></p>

        <label asp-for="Product"></label>
        <input asp-for="Product" disabled />
        <br />
        <hr />

        <input type="submit" value="Remove OrderRow?" />
        <br />

        <input type="submit" value="Back To List" asp-action="Index" />
    </font>
</form>