@model OrderRow
@{
    ViewData["Title"] = "Rename";
}
<h1>Rename OrderRow</h1>
<br />
@*asp-controller="TheController" isn't needed when the cshtml-file is in the same sub-folder as the controller*@
<form asp-action="Rename" method="post" class="btn btn-warning">

    <font style="align-content: stretch">

        <div asp-validation-summary="All"></div>

        <label asp-for="Product"></label>
        <input asp-for="Product" />
        <span asp-validation-for="Product"></span>
        <br />

        <label asp-for="Price"></label>
        <input asp-for="Price" />
        <span asp-validation-for="Price"></span>
        <br />

        <label asp-for="GlutenFree"></label>
        <input asp-for="GlutenFree" />
        <span asp-validation-for="GlutenFree"></span>
        <br />

        <hr />

        <input type="submit" value="Rename Customer" asp-action="Rename" formmethod="post" />
        <br />

        <input type="submit" value="Back to List" asp-action="Index" />
    </font>
</form>