@model ProductViewModel
@{
    ViewData["Title"] = "Create";
}
<h1>Create Product</h1>
<hr />
<br />

<form asp-controller="Products" asp-action="Create" method="post" class="btn btn-success">

    <div asp-validation-summary="All"></div>
    
    <select asp-for="ProductType" class="form-control">
        <option value="1">Pizza</option>
        <option value="2">Kebab/Gyros/Kyckling (Bröd/Pita/Tallrik)</option>
        <option value="3">Sallad med Bröd</option>
        <option value="4">Hamburgare</option>
        <option value="5">Korv</option>
        <option value="6">A La Carte</option>
        <option value="7">Tillbehör</option>
        <option value="8">Sås</option>
        <option value="9">Dryck</option>
    </select>

    <br />

    <label asp-for="Number"></label>
    <input asp-for="Number" />
    <span asp-validation-for="Number"></span>
    <br />

    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />

    <label asp-for="Price"></label>
    <input asp-for="Price" />
    <span asp-validation-for="Price"></span>
    <br />

    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <span asp-validation-for="Description"></span>
    <br />


    <!----//<div class="custom-control custom-radio"-</div>-->
    @*<label asp-for="Glutenfree">Glutenfree</label><br>
        <input asp-for="Glutenfree "type="checkbox" name="Glutenfree" value="true">
        <span asp-validation-for="Glutenfree"></span>*@
    <br />

    <hr />
    <input type="submit" value="Create Product" />
    <br />

    <input type="submit" value="Back To List" asp-action="Index" />

</form>

