@model Product
@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<hr />
<br />

<form asp-controller="Products" asp-action="Details" method="post" class="btn btn-info col-lg-8">

    <label asp-for="ProductType"></label>

    <select asp-for="ProductType" disabled>
        <option value="1">Pizza</option>
        <option value="2">Kebab/Gyros/Kyckling (Bröd/Pita/Tallrik)</option>
        <option value="3">Sallad med Bröd</option>
        <option value="4">Hamburgare</option>
        <option value="5">Korv</option>
        <option value="6">A La Carte</option>
        <option value="7">Tillbehör</option>
        <option value="8">Sås</option>
        <option value="9">Dryck</option>
    </select>
    <br />

    <label asp-for="Number"></label>
    <input asp-for="Number" disabled />
    <br />

    <label asp-for="Name"></label>
    <input asp-for="Name" disabled />
    <br />

    <label asp-for="Description"></label>
    <input asp-for="Description" disabled />
    <br />
    <br />
    <input type="submit" value="Back To List" asp-action="Index" class="align-content-end" />
</form>